<mat-toolbar class="toolbar mat-elevation-z4">
    <a routerLink="/">
        <img src="../../../../assets/img/logo.svg" alt="logo" class="logo">
        <div class="title-group">
            <i class="material-icons">theaters</i>
            <h1>Films Blog</h1>
        </div>

        <nav>
            <!-- mobile -->
            <button class="mat-button" mat-icon-button [matMenuTriggerFor]="afterMenu">
                <mat-icon>Menu</mat-icon>
            </button>
            <mat-menu class="mat-menu-content disabled" #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>
                    <a routerLink="/" class="link">
                        <mat-icon class="mat-menu-description">home</mat-icon>
                        <span class="mat-menu-description">Home</span>
                    </a>
                </button>
                <button mat-menu-item (click)="about()">
                    <a routerLink="/" class="link">
                        <mat-icon class="mat-menu-description">import_contacts</mat-icon>
                        <span class="mat-menu-description">About the authors</span>
                    </a>
                </button>
            </mat-menu>

            <!-- Desktop -->

        </nav>
    </a>

    <ul class="list">
        <li>
            <a class="link-item" title="Home" routerLink="/"></a>
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </li>
        <li>
            <a class="link-item" title="About the author" (click)="about()"></a>
            <mat-icon>import_contacts</mat-icon>
            <span>About the author</span>
        </li>
    </ul>
</mat-toolbar>
